button {
  padding: 8px 20px;
  border: 1px solid transparent;
  cursor: pointer;
}

.button-default{
  background-color: var(--brand-color-1);
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
}

.button-default:hover{
  background-color: var(--brand-color-2);
}

.button-default:active{
  background-color: var(--white-color);
  color: var(--brand-color-1);
  border-color: var(--brand-color-1);
}

.button-option{
  background-color: var(--white-color);
  color: var(--brand-color-1);
  border-color: var(--brand-color-1);
  font-weight: var(--font-weight-bold);
}

.button-option:hover{
  background-color: var(--action-color-1);
  color: var(--white-color);
  border-color: var(--action-color-1);
}

.button-action-1 {
  background-color: var(--action-color-1);
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
}

.button-action-2 {
  background-color: var(--action-color-2);
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
}

.button-chip-on {
  padding: 4px 12px;
  background-color: var(--white-color);
  border-radius: calc(var(--radius-2) + 12px);
  border-color: var(--brand-color-1);
  color: var(--brand-color-1);
}

.button-chip-off {
  padding: 4px 12px;
  background-color: var(--white-color);
  border-radius: calc(var(--radius-2) + 12px);
  border-color: var(--grey-color-3);
  color: var(--grey-color-3);
}